@model ResultsViewModel

@{
    ViewBag.Title = "Krysshjälpen";
}

<p>Ange en sökfråga. Använd följande jokertecken:</p>
<dl>
    <dt>?</dt>
        <dd>Matchar alla tecken.</dd>
    <dt>@@</dt>
        <dd>Matchar alla vokaler.</dd>
    <dt>#</dt>
        <dd>Matchar alla konsonanter.</dd>
</dl>

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    @Html.TextBox("q")
    <input type="submit" value="Sök" />
}

@if (Model != null)
{
    <p>Sökningen tog @(string.Format("{0:F2} ms", Model.ElapsedMilliseconds)).
    @if (Model.Count == 0)
    {
        <text>Hittade 0 resultat.</text>
    }
    else
    {
        <text>Hittade @Model.Count resultat:</text>
    }
    </p>

    if (Model.Words.Count > 0)
    {        
        <h3>Ord</h3>
        <ul>
        @foreach (var item in Model.Words)
        {
             <li>@item</li>
        }
        </ul>
    }

    if (Model.Anagrams.Count > 0)
    {
        <h3>Anagram</h3>
        <ul>
        @foreach (var item in Model.Anagrams)
        {
             <li>@item</li>
        }
        </ul>
    }

    if (Model.Near.Count > 0)
    {
        <h3>Nära</h3>
        <ul>
        @foreach (var item in Model.Near)
        {
             <li>@item</li>
        }
        </ul>
    }
}
