<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Krysshjälpen när du har kört fast i krysset." />
    <meta name="keywords" content="kryss,korsord,word,feud,ord,hjälp" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <link rel="apple-touch-icon" href='@Url.Content("words2x.png")' />
    <meta property="fb:admins" content="599746088" />
    <meta name="msvalidate.01" content="2E150FE6FB6C648F5A4506F5E49CFF3A" />
    <title>Krysshjälpen</title>
    <style type="text/css">
        body {
            padding-top: 40px;
        }
    </style>
    <link href="@Url.ContentCacheBreak("/Content/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.ContentCacheBreak("/Content/css/words.css")" rel="stylesheet">
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-29724397-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>
<body>
    <div id="fb-root"></div>
    <script type="text/javascript">
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/sv_SE/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a href="@Url.Action("Index", "Home")" class="brand">Krysshjälpen</a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class="@ViewBag.HomeTabClass">
                                <a href="@Url.Action("Index", "Home")">
                                    <i class="icon-home icon-white"></i>
                                    Hem
                                </a>
                            </li>
                            <li>
                                <a href="mailto:dlidstrom@gmail.com">
                                    <i class="icon-envelope icon-white"></i>
                                    Kontakt
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="fb-like" data-href="https://krysshjälpen.se" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-font="arial"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
    </div>
    <script src="@Url.ContentCacheBreak("/Content/js/cash.min.js")"></script>
    <script type="text/javascript">
        $(() => {
            // prevent double submit
            // https://stackoverflow.com/a/46296752/286406
            $('form').submit(function () {
                $(this).submit(function () {
                    return false;
                });
                return true;
            });
        });
    </script>
</body>
</html>
